.navbar {
    background-color: rgb(251,251,214);
    overflow: hidden;
  }
 
  .navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  .homeItem{
    display: block;
    color: #6A381F;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-weight: bold;
    
  }
  .homeItem:hover{
    background-color: #f2f2f2;
  }
  .navItem {
    margin: 0 10px;
  }
  
  .navLink {
    display: block;
    color: #6A381F;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    margin-left: 225px;
    
  }
  
  .navLink:hover {
    background-color: #f2f2f2;
    color: black;
  }
  